canvas {
	border: 1px solid #ccc;
	background: white;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	margin-bottom: 10px;
}

#data {
	padding: 2%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	line-height:1em;
	max-height: 8em;
	height: 8em
}

body {
	font-family: OpenSans, Verdana, Arial, sans-serif;
	font-size: smaller;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
}

a {
	color: inherit;
	text-decoration: none;
}

img.fork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
