canvas {
	border: 1px solid #ccc;
	background: white;
}

div {
	padding: 1px;
}

td {
	vertical-align:top;
	padding: 5px;
}

body {
    font-family: OpenSans, Verdana, Arial, sans-serif;
    font-size: smaller;
    overflow: hidden;
    margin: 5px;
	padding: 5px;
}

h2 {
    text-align: left;
    font-size: 1.4em;
    font-weight: normal;
}

table {
    padding: 1px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
tbody {
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

img.fork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
